<p style="color: green"><%= notice %></p>

<%= render @medicament %>

<div>
  <%= link_to "Edit this medicament", edit_medicament_path(@medicament) %> |
  <%= link_to "Back to medicaments", medicaments_path %>

  <%= button_to "Destroy this medicament", @medicament, method: :delete %>
</div>
